header {
	display: flex;
	align-items: center;
	height: 100px;
	justify-content: space-between;
	width: 100%;
}

header #logo {
	height: 100px;
	width: 100px;
}

#logo img {
	padding: 10px;
	margin-left: 15px;
	opacity: 1;
	transition: all .3s ease-out;
}

#logo img:hover {
	opacity: .75
}

header li {
	list-style: none;
	display: inline-block;
	padding: 1em;
}

header li a {
	color: #0099cc;
	font-weight: 600;
	font-size: 1rem;
	text-decoration: none;
	opacity: 1;
	transition: all .3s ease-out;
}

header li a:hover {
	opacity: .75;
}

header li a.email {
	text-decoration: underline;
}

main {
	padding: 0 1em;
	width: 100vw;
	min-height: calc(100vh - 100px);
	/* min-height: 100vh; */
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}

.splash {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	font-size: 24px;
	font-weight: 100;
	position: absolute;
	margin: 0 auto;
	top: calc(50% - 100px);
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

.left-splash {
	text-align: right;
	padding-right: 10px;
}


.right-splash {
	text-align: left;
}

s, strike {
  text-decoration:none;
  position:relative;

}

s::before, strike::before {
  top: 50%; /*tweak this to adjust the vertical position if it's off a bit due to your font family */
	background:rgba(0,153,204,.5);
	opacity:.7;
  content: '';
  width: 110%;
  position: absolute;
  height:.1em;
  border-radius:.1em;
  left: -5%;
  white-space:nowrap;
  display: block;
  transform: rotate(-3deg);
}

s.straight::before, strike.straight::before {
  transform: rotate(0deg);
  left:-1%;
  width:100%;
}

.strikethrough {
	color: #BFBFBF;
	text-decoration-color: rgba(0, 0, 0, 0.25);
}

.answer {
	font-weight: 900;
	color: #0099cc;
}

.projects {
	width: 100%;
	max-width: 1000px;
	margin: auto;
	text-align: center;
	/* padding: 1em; */
	display: flex;
	justify-content: space-between;
}

.example {
	width: 33%;
	height:auto;
	max-width: 250px;
	max-height: 250px;
	/* border: 10px solid white; */
	position: relative;
	box-shadow: 0 0 10px rgba(0,0,0,.25);
	transition: all .3s ease-out;
}

.example:hover {

	box-shadow: 0 0 15px rgba(0,0,0,.5);

}

.example a {
	color: white;
}
.example a:visited {
	color: white;
}

.example img {
		width: 100%;
		height: auto;
	}

.example h4 {
	position: absolute;
	top: 37%;
	width: 100%;
	margin: 0;
	opacity: 0;
	padding: 1em 0;
	font-family: 'quando', sans-serif;
	transition: all .3s ease-out;
	background-color: rgba(0,0,0,.5)
}

.example:hover h4{
	opacity: 1;
}

.example:hover h4 span {
	display: block;
	font-size: .66rem;
}
